/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroLogo {
  max-width: 200px;
  max-height: 200px;
}

.heroTitle {
  font-size: 60px;
}

@media screen and (max-width: 480px) {
  .heroTitle {
    font-size: 37px;
  }
}
